/* isCorrect="正确"和数组中相同的questionNumber、questionOption  返回 'correct',isCorrect="错误"和数组中相同的questionNumber、questionOption   返回 'incorrect',其他的情况返回 'noraml' */
 
function checkAnswer(questionOptionUser,isCorrect,questionOption) { 
  if(isCorrect === 1 && questionOptionUser === questionOption){
    return 'correct';
  }else if(isCorrect === 0 && questionOptionUser === questionOption){
    return 'incorrect';
  } else if (isCorrect === 1   && questionOptionUser != questionOption) {
   return 'correct';
 } 
 return 'normal';
} 

function userOption(answerLists, questionNumber,correct_answer){
 for (var k = 0; k < answerLists.length;k++) {
  var item = answerLists[k];
  if(item.questionNumber === questionNumber){ 
   if(item.questionOption === correct_answer ){
    return {
      isCorrect:'correct',
      questionOption:item.questionOption
    };
   }else{  
    return {
    isCorrect:'incorrect',
    questionOption:item.questionOption
   }; 
  }
  } 
 }
}


function fontSizeSet(font_size_type) {
 if(font_size_type===1){
   return  'type-small'; 
 }else if(font_size_type === 4){
  return 'type-large'
 }else if(font_size_type === 3){
  return 'type-bigger'
 }else{
  return 'type-normal'   
 }

} 

function isShowImage(now_idx,idx,url){
if( idx >= now_idx - 5 && idx <= now_idx + 5 ){
  if(url){
    return true;
  }else{
    return false; 
  }
}else{
 return false;
}
}



module.exports = {
checkAnswer:checkAnswer, 
fontSizeSet:fontSizeSet,
userOption:userOption,
isShowImage:isShowImage
} 